# 复制到线上：/etc/service_env/my_common_util
# systemd 的 EnvironmentFile 会加载这里的变量

# 可选：覆盖启动脚本默认值
# APP_HOME=/var/app/my_common_util
# LOG_DIR=/var/app/my_common_util/logs
# JAR=/var/app/my_common_util/my_common_util-0.0.1-SNAPSHOT.jar
# JAVA_BIN=/usr/bin/java

# 业务环境变量
MAIL_USERNAME=249191841@qq.com
MAIL_AUTH_CODE=scqwtlshcatmcajb
